<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <title>ros2_oidc</title>
  </head>
  <body>
    <h1>ros2_oidc/amcl</h1>
    <ul>
      <!--
        <li><a href="javascript:void(0)" onclick="call_with_token('/ros2/amcl/come_to_me', 'RDBOX_ACCESS_TOKEN')">Come To Me!!</a></li>
      -->
      <a href="/ros2/amcl/come_to_me">Come To Me!!</a>
    </ul>
    <a href="/logout">logout</a>
    <!--
    <a href="javascript:void(0)" onclick="call_with_token('/logout', 'RDBOX_REFRESH_TOKEN')">logout</a>
    -->
    <script>
      function call_with_token(url, cookie_name) {
        try {
          var access_token = document.cookie
          .split('; ')
          .find(row => row.startsWith(cookie_name))
          .split('=')[1];
        } catch(e) {
          alert('Invalid token (TimeOut or Unauthorized)')
          window.location.href = '/'
          return
        }
        if (access_token === '') {
          alert('Require authentication')
          window.location.href = '/'
          return
        }
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url, true);
        xhr.setRequestHeader("Authorization", "Bearer " + access_token);
        xhr.responseType = "blob";
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4) {
                if (success) success(url, xhr.response, xhr.status); 
            }
        };
        xhr.send(null);
      }
      function success(url, response, status) {
        if (url === '/logout') {
          document.cookie = "RDBOX_ACCESS_TOKEN=; expires=0";
          document.cookie = "RDBOX_REFRESH_TOKEN=; expires=0";
          window.location.href = '/'
        }
        if (status >= 400) {
          document.cookie = "RDBOX_ACCESS_TOKEN=; expires=0";
          document.cookie = "RDBOX_REFRESH_TOKEN=; expires=0";
          alert('Require authentication')
          window.location.href = '/'
        } else {
          alert('Your order accepted')
        }
      }
    </script>
  </body>
</html>